body {
    background-color: #222;
    color: #fff;
    font-family: 'Courier New', monospace;
}

form {
    background-color: #333;
    border: 2px solid #ffcc00;
    padding: 20px;
    width: 300px;
    margin: 50px auto;
    border-radius: 8px;
}